@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.my-grid-400 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.my-grid-600 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}